

@font-face {
    font-family: Poppins;
    src: url('../assets/fonts/Poppins-Medium.ttf');
}

body{
    background-color: #fff;
    color: #000;
    width: 100%;
    margin:0;
    box-sizing: border-box;
    font-family: Poppins, serif;
    line-height: 26px;
}

/*HOME*/
.quote{
    justify-content: center;
    text-align: center;
    margin: 10% 0 10% 0;
    height:auto;


}
.quote h3{
     color:#7ab4e0;
 }
.quote p{
    margin-top: 5%;
}

.weekend{

    display: block;
    margin: 10% 10% 0 auto;
}


.weekend h1{
    color:#7ab4e0;
    padding: 0 0 0 10%;
}
.weekend p{
    padding: 2% 20% 0 10%;

}
 .about-me {
     margin: 5% 10% 0 10%;

 }
 .about-me h3{
     text-align: right;
     color:#7ab4e0;
     padding-top: 3%;
}
 .about-me p{
     float: right;
     text-align: right;
     word-break: break-word;
     width: 50%;

 }
 .about-me  img{
    float: right;
 }
/*NAV*/

nav{
    background-color: #add2ef;
    width: 100%;
    height:50px;
  
    box-shadow: 1px 1px 6px #D7E9F7;

}
.navbar-brand{
    font-size: 30px;
    padding-left: 2%;
    color: #fff !important;
}
ul > li{
    font-size: 16px;
    list-style: none;
}

a{
    color:#76add8;
    text-decoration: none;
}
.active{
    color:#fff;
}

/*SECTIONS*/
section h3{
    margin: 3% 0 3% 0;
}

section.saturday-section, section.sunday-section{
    border: 2px solid #D7E9F7;
    box-shadow: 1px 1px 5px #D7E9F7;
    height:auto;
    margin: 10% 0 10% 0%;
    width: 100%;
    border-radius: 25px;
    text-align: center;
    padding:5%;

}


summary{
    background: #D7E9F7;
    border-radius: 15px;

}
details{
    background: #fff;
    box-shadow: 1px 1px 6px #D7E9F7;
    border-radius: 15px;
    margin:20px
}



/*FOOTER*/
.footer{
    background: #1e1e1f;
    height: 100px;
    width:100%;
    bottom:0px;
}