

@font-face {
    font-family: Poppins;
    src: url('../assets/fonts/Poppins-Medium.ttf');
}
@font-face {
    font-family: Marck;
    src: url('../assets/fonts/MarckScript-Regular.ttf');
}


body{
    background-color: #fff;
    color: #000;
    width: 100%;
    margin:0;
    box-sizing: border-box;
    font-family: Poppins, serif;
    line-height: 26px;
    position: relative;
    height: auto;
}

/*HOME*/
.home{

    background: #eaf6ff ;
    width: 86%;
    float: right;
    display: block;
    height: 90vh;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: 0 8px 8px -4px #eaf6ff;



}

.quote{
    float: right;
    text-align: right;
    margin: 10% 5% 0 0;
}
.quote h1{
    color:#9ed5ff;
}
.quote p{
    margin-top: 10%;
}


/*NAV*/

nav{
    width: 100%;
    height:50px;


}

.navbar-brand{
     width: 8%;
     margin:3% 0 0 2%; 
} 

.navbar-brand:hover{
    width: 8.2%;
    height: auto;
    
}

ul > li{
    font-size: 16px;
    list-style: none;
    margin: 3%;
}

a{
    color:#9ed5ff;
    text-decoration: none;
}
.nav-link{
    color:#000 !important;
}
.nav-link.active{
    color:#9ed5ff !important;

}

.nav-link:hover{
    font-size:17px;
}


/*ASIDE*/

#sidebar-wrapper {
    padding-left: 0;
    position: fixed;
    height: 100%;
    width: 14%;

}

.sidebar-contents{
    justify-content: center;
    text-align: center;
    padding: 70% 5% 0 5%;
}
.sidebar-contents h4{
    padding: 10% 15% 0 15%;
    color:#9ed5ff;
}
.sidebar-contents p{
    padding: 5% 15% 0 15%;
}
.social-icons{
    margin: 5%;
    color: #9ed5ff;
}
.sidebar-contents h4:hover{
    
    
}

.social-icons a:hover{
    color: #5a5a5a;

}
.more-about-em {
    font-family: Marck;
    color: #5a5a5a;
    text-decoration: underline;


}
/*SECTIONS*/
section h3{
    margin: 3% 0 4% 0;
}

section.saturday-section, section.sunday-section{
    background: #eaf6ff ;
    width: 86%;
    float: right;
    display: block;
    height: 90vh;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: 0 8px 8px -4px #eaf6ff;
    text-align: center;
    padding: 5% 0 5% 0;
    overflow-y: scroll;
    overflow-x: hidden;



}


summary{
    box-shadow: 1px 1px 6px #D7E9F7;
    border-radius: 15px;

}
details{
    background: #fff;
    box-shadow: 1px 1px 6px #D7E9F7;
    border-radius: 15px;
    margin:8%;
    
}
details p{
    margin:5%;
}
summary:hover{
    font-size: 17px;

}
/*FOOTER*/
.footer{
    height: 100px;
    width:100%;
    bottom:0px;
}
.copyright{
    font-size: 14px;
}

/*ANIMATIONS*/
/*
.slide-left{ 
    width: 100%;
  }
  
 
.slide-left {
    animation: 1.5s slide-left;
  }
  @keyframes slide-left {
    from {
      margin-left: 100%;
    }
    to {
      margin-left: 0%;
    }
  }
*/

/*Small devices (landscape phones, 576px and down)*/
/*col*/
@media screen and (max-width: 576px) {
  
    #sidebar-wrapper{
        display:none;
    }
    .navbar-collapse {
        background:rgba(234, 246, 255, 0.90);
        margin: 0 !important;
        padding: 0 !important;
        width: 40% !important;
    }
}


/* Medium devices (tablets, 768px and down)*/
/*col-sm*/
@media screen and (min-width: 577px) and (max-width: 768px) {
   
    #sidebar-wrapper{
        display:none;
    }
    .navbar-collapse {
        background:rgba(234, 246, 255, 0.90);
        margin: 0 !important;
        padding: 0 !important;
        width: 40% !important;
    }
    .navbar{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    
    }
}


/*Large devices (desktops, 767px and down)*/
/*col-md TABLET*/ 
/*Navbar collapse*/

@media screen and (min-width: 767px) and (max-width: 992px) {
   
    #sidebar-wrapper p{
        padding:0 !important;
    }
    .navbar-collapse {
        background:rgba(234, 246, 255, 0.90);
        margin: 0 !important;
        padding: 0 !important;
        width: 40% !important;
    }
    .navbar{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    
    }
}


/* X-Large devices (large desktops, 1200px and down)*/
/*col-lg*/
@media screen and (min-width: 993px) and (max-width: 1200px) {
  
}



